<!DOCTYPE html>
<html>
    <head>
		<title>{{page.title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
		<link rel="stylesheet" href="../assets/css/lightbox.min.css" />
		<link rel="stylesheet" href="../assets/css/debo.css" />
	</head>
	<body class="is-preload">

		<!-- Navigation bar-->
		{% include nav-bar %}

        <section id="page" class="main style1">
            <div class="container">
				<div class="box alt"></div>
				<!-- Page content -->
				<div id="content" class="page-content">
					<h2>{{page.title}}</h2>
					{{content}}
				</div>
			</div>
		</section>
                    
		<!-- Footer -->
		{% include footer %}

		<!-- Scripts -->
		{% include base-scripts %}
		{% include mathjax-scripts %}

  </body>
</html>